﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <title>追溯信息管理系统</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="/stylesheets/index-theme.css" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery.min.js" type="text/javascript"></script> 
    <link rel="stylesheet" type="text/css" href="/easyUI/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/easyUI/themes/icon.css">
    <script type="text/javascript" src="/easyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/easyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="/javascripts/tools.js" type="text/javascript"></script>  
    <style type="text/css">
        body{
            margin:0;padding:0;border:0;width:100%;height:100%;overflow:visible;
        }    
        body .header .topNav
        {

            position:absolute;right:8px;top:0px;        

            font-size:12px;

            line-height:25px;

        }
        .header .topNav a
        {

            text-decoration:none;

            color:#222;

            font-weight:normal;

            font-size:12px;

            line-height:25px;

            margin-left:3px;

            margin-right:3px;
        }
        .header .topNav a:hover
        {

            text-decoration:underline;

            color:Blue;
        }   

        .header
        {
            background:url(__PUBLIC__/Image/header.gif) repeat-x 0 -1px;
        }

        a.nav-command-button
        {
            text-decoration: none;
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            color:#e4e4e4;
        }
        a.nav-command-button:hover
        {
            background-color:#0099FF;
            color: white;
            cursor:pointer;
        }
    </style>
</head>
<body class="easyui-layout">    
    
    <div data-options="region:'north',border:false" style="height:70px;background:rgb(0,153,255);padding:10px">
        <img src="/Image/abc_logo.png" style="position: absolute;left: 20px;top:0px; width:200px;height:68px;">
        <h1 style="color:white;font-size:25px;margin:0;padding:15px;padding-left:20px;;font-family:'Trebuchet MS',Arial,sans-serif;position: absolute;left: 200px;top:10px;"><%= _system_name %></h1>

        <div style="position:absolute;top:40px;right:10px;">
            <!-- <a class="nav-command-button"  onclick=""  plain="true" >当前用户：</a>          -->
            <!-- <a class="nav-command-button"  onclick="change_password()"  plain="true" >修改密码</a>          -->
            <!-- <a class="nav-command-button"  onclick="refresh()"  plain="true" >刷新</a>         -->
            <!-- <a class="nav-command-button"  onclick="change_user()"  plain="true" >注销</a>     -->
            <!-- <a class="nav-command-button"  onclick="aboutABC()"  plain="true" >关于</a>         -->
            <!-- <a class="nav-command-button"  onclick="CloseWin()"  plain="true" >关闭</a>         -->
            
        </div>
    </div>
    <div data-options="region:'west',split:false,title:'菜单'" style="width:220px;padding:0px;">

        <div class="easyui-accordion" style="width:500px;height:auto;">
            <div title="功能列表">
<!--                 <a href="#" class="easyui-linkbutton" data-options="plain:true" style = "width:220px;" onclick = "addTab('产品列表', '/productListIndex')">产品列表</a> <br>  
                <a href="#" class="easyui-linkbutton" data-options="plain:true" style = "width:220px;" onclick = "addTab('产品类型列表', '/productTypelistIndex')">产品类型列表</a> <br>  
                <a href="#" class="easyui-linkbutton" data-options="plain:true" style = "width:220px;" onclick = "addTab('生产厂商列表', '/producerListIndex')">生产厂商列表</a> <br>   -->
                <a href="#" class="easyui-linkbutton" data-options="plain:true" style = "width:220px;" onclick = "addTab('API列表', '/indexapi')">API列表</a> <br>  
            </div>
        </div>
    </div>

    <div data-options="region:'south',border:false" style="height:35px;background:#fff;padding:5px;text-align:center;">Copyright © <%= _company %>版权所有 </div>

    <div data-options="region:'center'">
    <div id="tt" class="easyui-tabs" style="width:auto;height:auto;">
        <!-- <div title="欢迎" style="padding:10px" href = "__URL__/overview"></div> -->
    </div>

    </div>

    <script type="text/javascript">
    $(function(){
        addTab("欢迎", "/overview", false);
    });
    function addTab(title, url, closable){  
        if ($('#tt').tabs('exists', title)){  
            $('#tt').tabs('select', title);  
        } else {  

            var height = $("#tt").parent().height() * 0.90;
            var content = '<iframe src="'+ get_host_url() + url+'"scrolling="true" frameborder="0"   style="width:100%;height:'+ height +'px;"></iframe>';  

            // var content = '<iframe scrolling="auto" frameborder="0"  src="'+ get_host_url() + url+'" style="width:100%;height:100%;"></iframe>';
            if(closable == undefined){
                closable = true;
            }  
            $('#tt').tabs('add',{  
                title:title,  
                content:content,  
                closable:closable,
                height:'auto'  
            });  
        }  
    }
        function change_user()
        {
            redirect_to_main_form(); 
        }
        function redirect_to_main_form()
        {
            top.location.href = get_host_url() + "/Welcome/welcome";
        }      
        function change_password()
        {
            addTab("修改密码", "/UserManagement/change_pwd_index");
        }
        function onClick(e) {
            var text = this.getText();
            alert(text);
        }
        function aboutABC()
        {
            var text = "ABC成本分析系统，版本：{$version}";
            $.messager.alert('关于',text,'info');
        }
        function refresh()
        {
            window.location.reload();
        }
        function CloseWin()
        {
            window.opener = null;   
            window.open("","_self");
            window.close();  
        }
    </script>

</body>
</html>