<!DOCTYPE html>
<html>
  <head>
    <title>API列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <style type="text/css">
        .APIContainer{
          margin-bottom: 5px;
          margin-top: 15px;
          font-size: 15px;
          margin-left: 28px;
          border-left: solid 5px rgba(0,128,0,0.3);
          padding-left: 5px;
          border-bottom: solid 1px rgb(240,240,240);
          border-top: solid 1px rgb(240,240,240);
        }
        .section-container{
          margin-left: 5px;
        }

        .key{
          font-size: 16px;
        }      
        .value{
          margin-bottom: 10px;
          padding-left: 20px;
        } 
        .title{
          font-size: 17px;
          margin-bottom: 15px;
          margin-top: 10px;
        }
    </style>    
  </head>
  <body>
  <div style="margin-top: 5px; margin-bottom: 10px; font-size: 16px; margin-left: 5px; border-bottom: solid 2px rgba(128,128,128, 0.2); padding-bottom: 12px; border-top: solid 10px rgba(230,230,230,0.2); padding-top: 10px; padding-left: 10px;">API列表</div>


  <div class="section-container">
    <div class="section-title" style="padding-left: 10px;font-size: 21px;">action信息</div>
      <div class = "APIContainer" >
          <div class="title">1.获取action列表</div>
          <div class="key">链接</div>
          <div class="value">/actionList</div>
          <div class="key">参数</div>
          <div class="value">
            {"actionID":"000001"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               [{"actionID":"000001","timeStamp":"2014-05-04 11:20:24","note":"inventory test"}]
          </div>
          <div class="key">说明</div>
          <div class="value">
             actionID:action编码;timeStamp:时间；note:备注说明
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">2.添加action</div>
          <div class="key">链接</div>
          <div class="value">/addAction</div>
          <div class="key">参数</div>
          <div class="value">
            {"actionID":"000001", note":"inventory test"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；重复添加：duplicated；异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
             actionID:action编码;note:备注说明
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">3.删除action</div>
          <div class="key">链接</div>
          <div class="value">/removeAction</div>
          <div class="key">参数</div>
          <div class="value">
            {"actionID":"000001"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
             actionID:action编码;
          </div>
      </div>
  </div>

  <div class="section-container">
    <div class="section-title" style="padding-left: 10px;font-size: 21px;">参数信息</div>
      <div class = "APIContainer" >
          <div class="title">1.获取参数列表</div>
          <div class="key">链接</div>
          <div class="value">/paraList</div>
          <div class="key">参数</div>
          <div class="value">
            {"paraID":"000001"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               [{"paraID":"000001","paraName":"temp","paraValue":"12"}]
          </div>
          <div class="key">说明</div>
          <div class="value">
             paraID:参数ID;paraName:参数名称;paraValue:参数值
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">2.添加新参数</div>
          <div class="key">链接</div>
          <div class="value">/addParaInfo</div>
          <div class="key">参数</div>
          <div class="value">
               {"paraID":"000001","paraName":"temp","paraValue":"12"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；重复添加：duplicated；异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
             paraID:参数ID;paraName:参数名称;paraValue:参数值
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">3.删除参数信息</div>
          <div class="key">链接</div>
          <div class="value">/removeParaInfo</div>
          <div class="key">参数</div>
          <div class="value">
               {"paraID":"000001"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
             paraID:参数ID;
          </div>
      </div>
  </div>

  <div class="section-container">
    <div class="section-title" style="padding-left: 10px;font-size: 21px;">产品历史关键节点信息</div>
      <div class = "APIContainer" >
          <div class="title">1.获取产品历史关键节点信息列表</div>
          <div class="key">链接</div>
          <div class="value">/productHistoryKeyPointList</div>
          <div class="key">参数</div>
          <div class="value">
            {"productEPC":"000001"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               [{"productEPC":"000001","actionID":"A00002","paraID":"P00001","timeStamp":"2014-05-04 15:17:16"}]
          </div>
          <div class="key">说明</div>
          <div class="value">
              productEPC:产品编码;actionID:操作ID;paraID:参数ID(可能会有一系列，包含了该节点的一些参数);timeStamp:时间
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">2.添加关键节点信息</div>
          <div class="key">链接</div>
          <div class="value">/addProductHistoryKeyPoint</div>
          <div class="key">参数</div>
          <div class="value">
               {"productEPC":"000001","actionID":"A00002","paraID":"P00001"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；重复添加：duplicated；异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
             productEPC:产品编码;actionID:操作ID;paraID:参数ID(可能会有一系列，包含了该节点的一些参数)
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">3.删除关键节点信息</div>
          <div class="key">链接</div>
          <div class="value">/removeProductHistoryKeyPoint</div>
          <div class="key">参数</div>
          <div class="value">
               {"productEPC":"000001"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
             productEPC:产品编码;
          </div>
      </div>
  </div>



  </body>
</html>